* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #c0c0c0;
}

.container {
    width: 100%;
    display: flex;
    max-width: 850px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.login {
    width: 400px;
}

.login .signup a {
    color: black;
    font-weight: 500;
}

.login a { 
    text-decoration: none;
    font: 300;
    font-style: 'roboto';
    color: white;
}


form {
    width: 250px;
    margin: 60px auto;
}

.login img {
    display: block;
    width: 40%;
    height: auto;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border-top: 2px solid #c0c0c0;
}

p {
    text-align: center;
    margin: 10px;
}

.right img {
    width: 450px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

form label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}

input {
    width: 100%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    border: none;
    outline: none;
    padding: 8px;
    width: 252px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: #c0c0c0;
}

.signup {
    padding: 5px 5px;
    color: #c0c0c0;
}

.forgot {
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    background: black;
    color: white;
}

.fotgot a{
    font-weight: 200;
}

button:hover {
    background: rgb(0, 0, 0);
}

@media (max-width: 880px) {
    .container {
        width: 100%;
        max-width: 750px;
        margin-left: 20px;
        margin-right: 20px;
    }

    form {
        width: 300px;
        margin: 20px auto;
    }

    .login {
        width: 400px;
        padding: 20px;
    }

    .button {
        width: 100%;
    }

    .right img {
        width: 100%;
        height: 100%;
    }
}